@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --selected-text-color: #4a65ff;
}

::selection {
    background-color: var(--selected-text-color);
    color: white;
}

@layer utilities {
    .zoom-on-hover-small {
        @apply transform transition-transform duration-200 hover:scale-[1.01];
    }
    .zoom-on-hover-medium {
        @apply transform transition-transform duration-200 hover:scale-[1.025];
    }
    .zoom-on-hover-60 {
        @apply transform transition-transform duration-60 hover:scale-105;
    }
    .zoom-on-hover-100 {
        @apply transform transition-transform duration-100 hover:scale-105;
    }
    .zoom-on-hover-200 {
        @apply transform transition-transform duration-200 hover:scale-105;
    }
}
