@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --selected-text-color: #333333; /* Green */
  }
  
  ::selection {
    background-color: var(--selected-text-color);
    color: white;
  }
  